.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.image {
  width: 100%;
  border-radius: 9999px;
}

.box {
  display: flex;
  flex-direction: row;
}

.boxTwo {
  display: flex;
  flex-direction: column;
}
